@model Product
@{
    var slug = Request["url"] ?? SlugHelper.Product(Model.Id);
    if (Request["url"] == null)
    {
        slug = slug.StartsWith("http") ? slug : "http://" + slug;
    }
    var linkTarget = @DataWhereHelper.ProductSpecificationAttribute("Link Target", @from: Model.ProductSpecificationAttributeMappings, productId: Model.Id);
}
@{ 
    var slugback = slug;
    if (Request["mode"] == "preview")
    {
        slugback = slugback + "?mode=" + Request["mode"] + "&token=" + Request["token"];
    }
}
@Styles.Render("~/bundles/content/default/catalog/product/preview/css")
<style>
    html, body {
        overflow: hidden !important;
    }

    footer {
        display: none !important;
    }
</style>
<main class="theme-preview">
    <iframe class="iframe-preview" src="@linkTarget"></iframe>
</main>

<nav class="navbar-preview fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center w-100">
        <a class="my-lg-0 text-gray-soft" href="@slugback"><i class="fas fa-long-arrow-left"></i> View theme <span class="d-none d-sm-inline">info</span></a>
        <ul class="nav nav-preview d-none d-md-flex" role="tablist">
            <li class="nav-item"><a class="nav-link btn-iframe-to-desktop-trigger active" data-toggle="tab" role="tab"><i class="las la-desktop nav-preview__icon"></i></a></li>
            <li class="nav-item"><a class="nav-link btn-iframe-to-tablet-trigger" data-toggle="tab" role="tab"><i class="las la-tablet-alt nav-preview__icon"></i></a></li>
            <li class="nav-item"><a class="nav-link nav-link--small btn-iframe-to-mobile-trigger" data-toggle="tab" role="tab"><i class="las la-mobile nav-preview__icon nav-preview__icon--sm"></i></a></li>
        </ul>
        <div class="form-inline">

            <a class="text-gray ml-3" href="@slug">
                <small>
                    <i class="fas fa-times"></i>
                </small>
            </a>
        </div>
    </div>
</nav>
@using (Html.BeginScripts())
{
    @Scripts.Render("~/bundles/content/default/catalog/product/preview/js")
}
